.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--binar);
  padding-bottom: 50px;
}
.auth-logo {
  max-width: 140px;
  padding-bottom: 30px;
}
.auth-card {
  min-width: 360px;
  padding: 40px;
  background-color: #eef2f6;
  border-radius: 12px;
  box-shadow: 1px 11px 18px rgba(0, 0, 0, 0.1);
}
.auth-redirect {
  color: #ffffff;
  font-size: 0.875rem;
  padding-top: 20px;
}
.auth-link-custom {
  color: var(--yellow);
  display: inline-block;
  padding: 0;
}
