@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

.footer {
  color: white;
  background-color: #f9b91e;
  padding-top: 2em;
  width: 100%;
  min-height: 299px;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* margin-bottom: 0px; */
}

.color {
  color: #733572;
}
.style-list {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #733572;
}

hr.space-1 {
  background: #ffff;
  color: transparent;
  height: 0.2px;
  width: 95%;
}

.picsize {
  width: 101px;
  height: 42px;
  left: 0px;
  top: 0px;
}
