.wrapper {
  /* display: flex; */
  flex-wrap: wrap;
  width: 10rem;
}

.cardLoop {
  border-radius: 15px;
  background-color: #b8c5d0;
}

.cardButton {
  position: relative;
  left: 40%;
}

.cardTitle {
  align-content: start;
  color: #b8c5d0;
  margin-top: 10px;
}
