.container-game-detail {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .container-game-detail {
    max-width: 900px;
    margin-top: 50px;
  }
  #game-picture {
    display: flex;
    justify-content: flex-end;
  }
  .game-picture {
    height: 280px;
  }
}
.detail-container {
  margin-top: 10px;
  margin-bottom: 20px;
}
.game-col {
  padding: 10px 20px;
}
.game-picture {
  width: 100%;
  min-height: 250px;
  background-color: #b8c5d0;
  border-radius: 12px;
}
.game-title {
  font-weight: 700;
  color: #455d6d;
}
.game-genres {
  margin-bottom: 10px;
}
.game-description {
  color: #7f919f;
  font-weight: 300;
  font-size: 0.875rem;
}
.label {
  font-size: 0.75rem;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 12px;
  margin-right: 8px;
}
.label.Action {
  background-color: #ef709d;
}
.label.Arcade {
  background-color: #733572;
}
.button-play {
  background-color: #f9b91e;
  padding: 8px 20px;
  border-radius: 25px;
  min-width: 90px;
  color: #ffffff;
  border: 1px solid #f9b91e;
  font-weight: 600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-play:hover {
  background-color: #e1a616;
}

.nav-section {
  justify-content: space-between;
  margin-top: 40px;
}
.nav-button {
  padding: 10px 20px;
  border: 1px solid #eef2f6;
  box-sizing: border-box;
  border-radius: 12px;
  color: #8a5289;
}
.nav-button:hover {
  background-color: #eef2f6;
  cursor: pointer;
}
.nav-button.right {
  text-align: right;
}
.nav-button > .label-button {
  font-size: 0.875rem;
}
.label-name {
  font-weight: 600;
  font-size: 1rem;
  color: #733572;
}
