.font-size-h1 {
  font-size: 48px;
  color: #733572;
  font-weight: 800;
}
.start-button-history {
  background-color: white;
  color: #733572;
  border-color: #733572;
}
.start-button-history:hover {
  background-color: #733572;
  color: white;
  border-color: #733572;
}
.center-body {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
