.h1-color {
  font-size: 5em;
  font-weight: bold;
  color: var(--binar);
}

.h3-color,
.h3-color {
  color: var(--binar);
}

.btn-warning {
  border-radius: 5px;
}

.container-landing {
  height: 100vh;
  width: 100vw;
}
