.body-card-radius {
  border-radius: 8px;
}
.body-card-width {
  max-width: 100vw;
}
.center-binar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20vh;
  margin-left: 5vw;
  margin-right: 5vw; */
}
.photo-profile {
  max-width: 100px;
  max-height: 110px;
}

.square {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: #b8c5d0;
}
.body-center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  max-height: 20%;
  margin: auto;
  margin-top: 6%;
}
.body-center-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.background-win {
  background-color: #4caf50 !important;
  color: white !important;
}

.background-lose {
  background-color: #f44336 !important;
  color: white !important;
}

.text-underline {
  text-decoration: underline;
}
