body > #root > div {
  height: 100vh;
}

.container-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--binar);
  padding-bottom: 50px;
}
.input {
  border-radius: 12px;
}

.form-group {
  border-radius: 12px;
}

.btn {
  background-color: var(--yellow);
}

h3 {
  font-weight: 700;
  color: var(--binar);
}

.auth-redirect {
  color: #ffffff;
  font-size: 0.875rem;
  padding-top: 20px;
}
